<!-- <app-header></app-header> -->
<body>
  <h1>TICKET TASK</h1>
  <div class="btnDiv">
      <button type="button" id="btnCreate" data-toggle="modal" 
      data-target="#exampleModal" (click)="openCreate()"
      class="btn btn-warning btn-lg">Create</button>
      <!-- onclick="getContractList();" -->
  </div>

  <!-- Modal popUp -->
  <div class="modal fade show" [ngClass]="{'showPop': isPopOpen}">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ticket Creation</h5>
            <button type="button" class="close" (click)="closePop()" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" row="100" col="30">
            <!-- Form -->
            <div class="container">
              <form [formGroup]="ticketForm">

                  <div class="form-group">
                      <label for="message-text" class="col-form-label">Contract Number:</label>
                      <select id="contractnumber" class="form-control" (change)="getEmployeeUrlList()"
                              formControlName="contractNumber" name="contractNumber">
                          <option value=""></option>
                          <option *ngFor="let contNo of contractNumberList" 
                                    value="{{contNo.ContractNumber}}">{{contNo.ContractNumber}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                      <label for="Labour ID" class="col-form-label">Labour ID:</label>
                      <select id="labourid" class="form-control" (change)="getTicketTypeUrlList()"
                              formControlName="employeeId" name="employeeId">
                              <option value=""></option>
                              <option *ngFor="let emp of employeeIdList" 
                                        value="{{emp.EmployeeId}}">{{emp.EmployeeId}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                      <label for="Ticket Type" class="col-form-label">Ticket Type:</label>
                      <select id="tickettype" class="form-control" (change)="getDepartmentUrlList($event)"
                              formControlName="ticketType" name="ticketType">
                          <option value=""></option>
                          <option *ngFor="let tic of ticketTypeIdList" 
                                        value="{{tic.ID}}">{{tic.Name}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                      <label for="Department" class="col-form-label">Department:</label>
                      <select id="department" class="form-control" (change)="getAssignedToUrlList()"
                              formControlName="departmentSection" name="departmentSection">
                          <option value=""></option>
                          <option *ngFor="let dep of departmentIdList"
                                    value="{{dep.ID}}">{{dep.Name}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                      <label for="Assigned To" class="col-form-label">Assigned To:</label>
                      <select id="assignedto" class="form-control" (change)="getPriority()"
                               formControlName="assignedTo" name="assignedTo">
                          <option value=""></option>
                          <option *ngFor="let asg of assignedToList" 
                                    value="{{asg.ID}}">{{asg.Name}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                      <label for="Priority" class="col-form-label">Priority</label>
                      <select id="priority" class="form-control" (change)="getCategoryList()"
                              formControlName="priorityType" name="priorityType">
                          <option value=""></option>
                          <option *ngFor="let pri of priorityList" value="{{pri.ID}}">{{pri.Name}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                      <label for="Category" class="col-form-label">Category</label>
                      <select id="category" class="form-control" (change)="getSubCategoryList()"
                              formControlName="categoryId" name="categoryId">
                          <option value=""></option>
                          <option *ngFor="let cat of categoryList" value="{{cat.TicketGroupID}}">{{cat.TicketGroupName}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                      <label for="Sub Category" class="col-form-label">Sub Category</label>
                      <select id="subcategory" class="form-control" 
                              formControlName="subCategory" name="subCategory">
                          <option value=""></option>
                          <option *ngFor="let sub of subCategoryList" value="{{sub.Id}}">{{sub.Description}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                      <label for="Ticket Subject" class="col-form-label">Ticket Subject</label>
                      <input type="text" id="ticketsubject" name="ticketSubject" 
                      class="form-control" formControlName="ticketSubject" 
                      placeholder="Ticket Subject" value="">
                    </div>

                    <div class="form-group">
                      <label for="Description" class="col-form-label">Description</label>
                      <input type="Address" id="description" name="description" 
                      formControlName="description" class="form-control" placeholder="Description" value="">
                    </div>

                    <!-- <div class="form-group">
                      <label for="document" class="col-form-label">You can upload File</label>
                      <input type="file" name="documenttUpload"
                      formControlName="documenttUpload" value="">
                    </div> -->
      
                <div class="row">
                  <button type="submit" 
                  id="btnSubmit"
                  (click)="submitData()"
                  [disabled]="ticketForm.invalid"
                  class="btn btn-warning btn-lg"> Submit </button>   
                  <!-- onclick= "validationData();" -->
                </div>
      
              </form>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal"
            (click)="closePop()">Close</button>
            
          </div>
        </div>
      </div>
    </div>

  <!-- Table -->
  <div class="tableClass">
      <table class="table table-hover table-dark">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Ticket ID</th>
              <th scope="col">Ticket Date</th>
              <th scope="col">Created By</th>
              <th scope="col">Contract Number</th>
              <th scope="col">Customer ID</th>
              <th scope="col">Customer Name</th>
              <th scope="col">Status</th>
              <th scope="col">Ticket Type</th>
              <th scope="col">Priority</th>
              <th scope="col">Subject</th>
              
            </tr>
          </thead>

          <tbody id="ticket-body">
            <tr *ngFor="let ticket of ticketList">
              <td>{{ ticket.EnquiryId }}</td>
              <td>{{ ticket.CreatedDatetime }}</td>
              <td>{{ ticket.CreatedBy }}</td>
              <td>{{ ticket.ContractNumber }}</td>
              <td>{{ ticket.CustomerId }}</td>
              <td>{{ ticket.CustomerName }}</td>
              <td>{{ ticket.StatusName }}</td>
              <td>{{ ticket.TicketTypeId }}</td>
              <td>{{ ticket.PriorityName }}</td>
              <td>{{ ticket.Subject }}</td>
            </tr>
            
          </tbody>
        </table>
  </div>


  <!-- Loading Modal PopUp -->
  <div class="modal fade show" id="loadingModal"  [ngClass]="{'showPop': isLoading}"  *ngIf="isLoading" style="background: rgb(0 0 0 / 0.5);">
    <div class="modal-dialog" role="document">
      <div class="modal-content" >
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Loading</h5>
        </div>
        <div class="modal-body" row="100" col="30">
          <!-- Form -->
         <i class="fa fa-spinner" aria-hidden="true">loading</i>
        </div>
        
      </div>
    </div>
  </div>