/* You can add global styles to this file, and also import other style files */

/* *******************  Navigation bar CSS styles**************** */

body {
    margin: 0 auto;
    font-family: sans-serif;
    font-size: 15px;
   
 }

 .heading-white {
     color: #fff;
     font-weight: bold;
     font-size: 20px;
     opacity: 0.5px;
 }
 
 .heading-bottom {
     padding-bottom: 10px;
 }
 
 .heading-dark {
     color: #000000;
     font-weight: bold;
     font-size: 20px;
     margin-left: 10px;
     opacity: 0.5px;
 }
 
 .paragraph-white {
     color: #fff;
     opacity: 0.1rem;
     line-height: 1.5;
     opacity: 0.5;
     font-size: 14px;
 
 }
 
 .paragraph-dark {
     color: #000000;
     opacity: 0.5px;
     line-height: 1.5;
     margin-left: 10px;
     font-size: 14px;
 
 }
 
  /* top navbar settings */

 .navbar {
     padding-left: 0px;
     padding-right: 0px;
  } 
 
 
 /*This is for brand logo*/
 a:not([href]):not([tabindex]) {
     color: #fff;
 }
 
 .navbar-brand {
     font-size: 2rem;
     font-weight: bold;
     color: #fff; 
 }
 
 .nav-link {
     margin-right: 20px;
 }
 
 
 .btn {
     background-color: orange;
 }
 
 /* bottom navbar settings */

 .navbar-collapse {
     background-color: #000000;
     color: #fff;
     font-weight: bold;

 }
 
 a.nav-link:hover {
     background-color: orange;
 }

 /* ************************END of NAVIGATION BAR CSS styles************************ */
/* 
 body {
    font-family: montserrat;
} */

h1 {
    padding-top: 40px;
    text-align: center;
}

.btnDiv {
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    float:right;
    margin-right: 2%;
    font-weight: bold;
    font-size: 2rem;
}


/* ************** Modal PoP Up open and close automatically any scrolling ****** */

.showPop {
    display: block !important;
}

/* // this is to roll the form... */
.modal {
    overflow: auto;
}